.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
    cursor: pointer;
}
  
.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}

.result {
    display: none;
}

body {
    background: rgb(48,56,65);
    background: linear-gradient(90deg, rgba(48,56,65,1) 0%, rgba(214,230,242,1) 18%, rgba(245,245,245,1) 49%, rgba(214,230,242,1) 81%, rgba(48,56,65,1) 100%);
    
}

.title{
    color: rgb(49, 49, 49);
    text-shadow: crimson;
}
​
.jumbotron {
    
}

.jumbotron::before {
  content: "";
  background-image: url("https://www.onceuponachef.com/images/2015/06/Crazy-Good-Spicy-Italian-Popcorn.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.65; 
}

.jumbotron h1 {
    position: relative;
    font-weight: 600;
    color: rgb(0, 0, 0);
    opacity: 1;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    align-items: center;
    text-align:center;
}

.card-title {
    text-align: center;
}

.jumbotron p {
    position: relative;
    opacity: 1;
    font-weight: 500;
    color: rgb(0, 0, 0);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    align-items: center;
    text-align:center;
}

.card {
    background: #232526;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
    margin-bottom: 1rem;
    margin-top: 1rem;
    min-height: 523px;
    max-height: 523px
}

.navbar-btn {
    border-color: #ae142a;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: black;
    background-color: transparent;
    padding: 6px 12px !important;
    margin: 0px 0px 0px 10px;
}

.navbar-btn:hover {
    background-color: #ae142a !important;
    border-color: #ae142a !important;
}
​
.name {
  font-family: 'Bangers', cursive;
  font-size: 40px;
  font-weight: 400;
  align-items: center;
  padding-left: 8rem;
}
  